.profile{
    background-color: rgb(236, 214, 184);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
span{
    text-decoration: underline;
    color: blue;
}
.expence{
    border: 1px solid rgb(77, 157, 204);
    background-color: rgb(61 221 196);
    cursor: pointer;
    text-decoration: none;
    height: 3rem;
    display: flex;
    justify-content: center;
    width: 10rem;
    margin-top: 8px;
    margin-left: 2rem;
}
.expence p {
    font-size: 25px;
    font-weight: 500;
    color: rgb(11, 9, 26);
}

.expence a{
    text-decoration: none;
}